@model ImageAddUpdateRemoveWebApplicationUI.Models.Entity.Image

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        overflow-x: hidden;
    }
</style>

<h1 style="text-align: center;">Edit</h1>

<h4 style="text-align: center;">Image</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <image asp-caption="Şəkil" asp-for="file" asp-path="/uploads/images/@Model.ImagePath"/>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group text-center mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="text-align: center; margin-top: 15px;">
    <a asp-action="Index">Back to List</a>
</div>

